<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>iotsec-enroute-filtering</title>
  </head>
  <body>
    <h1>Processed Messages</h1>

    <table>
      <tr>
        <th>ShortHash</th>
        <th>Method</th>
        <th>UriPath</th>
        <th>RuleProcessingResults</th>
      </tr>
      {{range .ProcessedMessages}}
        <tr>
          <td>{{ .ShortHash }}</td>
          <td>{{ .Method }}</td>
          <td>{{ .UriPath }}</td>
          <td>
            <ul>
            {{range .RuleProcessingResults}}
              <li>Name: {{.RuleName}}, Allowed: {{.Allowed}}, Message: {{.RuleMessage}}</li>
            {{end}}
            </ul>
          </td>
        </tr>
      {{end}}
    </table>
  </body>
</html>
