<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iotsec-enroute-filtering</title>
    <link rel="stylesheet" href="/assets/bulma.min.css">
    <link rel="stylesheet" href="/assets/application.css">
    <script src="/assets/application.js"></script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            COAP Application Firewall
          </h1>
          <h2 class="subtitle" id="connection-status"></h2>
        </div>
      </div>
    </section>
    <div class="container container--main">
      <h1 class="title">Processed Messages</h1>

      <table class="table is-bordered is-striped is-hoverable processed-messages--table">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Destination</th>
            <th>Method</th>
            <th>Path</th>
            <th>Rule Processing Results</th>
          </tr>
        </thead>
        <tbody id="processed-messages--container">
        </tbody>
      </table>
    </div>
  </body>
</html>
